.team{
    border: 2px solid black;
    padding: 2px;
    margin: 2px;
    width: 250px;
    height: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    background-color: whitesmoke;
}