.team{
  background-color: rgb(25, 65, 25);
  margin-left: auto;
  margin-right: auto;
}
.box{
    display: block;
    margin: 5px auto;
}
.box img {
  width:70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 100%;
    width: 33%;
    border: none;
    float: left;
    overflow: hidden;
    margin-bottom: 5px;
  }
