.banner {
    position: relative;
    text-align: center;
    border-radius: 10px;
  }
.banner img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    opacity: 0.5;
}
.logo {
    font-size: 30px;
    font-family: 'Noto Sans JP', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.team-details{
    background-color: tomato;
    width:800px;
    height:200px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px; 
}
.team-paragraph{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:800px;
    height:auto;
}
.image img{
  width:80%;
  padding: 30px;
}
.details {
  width:50%;
  float:left;
  display: block;
  padding: 30px;
}
.image{
  width:50%;
  float:left;
  display: block;
}
.social-link{
  display: block;
  margin-left: 500px;
  margin-right: auto;
}
.social-link img{
  width:5%;
  padding-left: 5px;
}